<body onunload="" class="page-subpage page-submit navigation-off-canvas" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
      
        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            <nav class="off-canvas-navigation">
                <header>Navigation</header>
                <div class="main-navigation navigation-off-canvas"></div>
            </nav>
            <!--end Off Canvas Navigation-->

            <!--Sub Header-->
            <section class="sub-header">
                <div class="search-bar horizontal collapse" id="redefine-search-form"></div>
                <!-- /.search-bar -->
                
            </section>
            <!--end Sub Header-->

            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <div class="row">
                        <!--Content-->
                        <div class="col-md-9">
                            <header>
                                <h1 class="page-title">Add your location</h1>
                            </header>
                            <%= form_tag '/locations', method: :post do  %>
                               
                                    <div class="form-group large">
                                        <label for="title">Name</label>
                                        <input type="text" class="form-control" id="title" name="name">
                                    </div>
                                     <div class="form-group large">
                                        <label for="title">Description</label>
                                        <input type="text" class="form-control" id="title" name="description">
                                    </div>
                               
                                    <h3>Address</h3>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="state">Street</label>
                                                <input type="text" class="form-control" id="state" name="street">
                                            </div>
                                        </div>
                                        <!--/.col-md-4-->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="form-group">
                                                        <label for="city">City</label>
                                                        <input type="text" class="form-control" id="city" name="city">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="form-group">
                                                        <label for="zip">ZIP</label>
                                                        <input type="text" class="form-control" id="zip" name="zip" pattern="\d*">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.col-md-4-->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="street">State</label>
                                                <input type="text" class="form-control" id="street" name="state"> 
                                            </div>
                                        </div>
                                 
                                        <div class="form-group" style="margin: 20px">
                                            <label for="category">Please Select a Category</label>
                                            <select name="category" id="package" class="framed">
                                                <% @categories.each do |category| %>
                                                <option value="<%= category.id %>" name="category"> <%= category.category %> </option>
                                                <% end %>
                                            </select>
                                        </div>
                                          <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="street">Image</label>
                                                <input type="text" class="form-control" id="street" name="image"> 
                                            </div>
                                    </div>
                                  
                                         
                                        <!--/.col-md-4-->
                                   
                                    <!--/.row-->
                                    <!--/.row-->
                           
                                <!--Opening Hours-->
                            
                                    
                                    <div class="opening-hours" style="margin: 5px">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr class="day">
                                                    <td class="day-name">Time</td>
                                                    <td class="to"><input type="date" name="date"></td>
                                                    <td class="from"><input class="oh-timepicker" type="text" placeholder="From" name="start_date"></td>
                                                    <td class="to"><input class="oh-timepicker" type="text" placeholder="To" name="end_date"></td>
                                                  
                                                    <td type="hidden" class="non-stop"><div class="checkbox">
                                                        <label>
                                                            <input type="hidden">
                                                        </label>
                                                    </div>
                                                    </td>
                                                </tr>
        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                  
                              
                                <!--end Opening Hours-->
                                <!--/#address-contact-->
                              <!--   <section>
                                    <h3>Map</h3>
                                    <div id="map-simple" class="map-submit"></div>
                                </section> -->
                                
                                <!--Gallery-->
                                
                                <!--end Gallery-->
                                
                                
                               <section id="summit">
                                
                                    
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default " id="submit" style="margin: 30px">Submit</button>
                                    </div>
                                    <!-- /.form-group -->
                                </section>
                            <% end %>
                            <!-- <section>
                                    <h3>Gallery</h3>
                                    <div id="file-submit" class="dropzone">
                                        <input name="file" type="file" multiple>
                                        <div class="dz-default dz-message"><span>Click or Drop Images Here</span></div>
                                    </div>
                            </section> -->

                            <!--/#form-submit-->

                        </div>
                        <!--/.col-md-9-->
                        
                        </div>
                        <!-- /.col-md-3-->
                        <!--end Sidebar-->
                    </div>
                </section>
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->
        <!--Page Footer-->
        <footer id="page-footer">
            
        </footer>
        <!--end Page Footer-->
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/before.load.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="/assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/assets/js/dropzone.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
<script type="text/javascript" src="/assets/js/maps.js"></script>

<script>
    $(window).load(function(){
        var _latitude = 51.541599;
        var _longitude = -0.112588;
        var draggableMarker = true;
        simpleMap(_latitude, _longitude,draggableMarker);
    });
    autoComplete();
</script>

<!--[if lte IE 9]>
<script type="text/javascript" src="/assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>